@mixin column-flex {
  display: flex;
  flex-direction: column;
}

@mixin row-flex {
  display: flex;
  flex-direction: row;
}

$green: #659a41;
$red: #ed5565;

.app-cowin-monitor {
  @include column-flex;
  align-items: center;

  .header-section {
    @include row-flex;
    flex-flow: wrap;

    & > * {
      @include column-flex;
      padding: 8px;
    }

    .action-button-section {
      justify-content: flex-end;
    }
  }

  .legend-section {
    @include row-flex;

    .legend {
      @include row-flex;
      align-items: center;
      margin: 16px;

      .marker {
        height: 20px;
        width: 40px;
      }

      & > * {
        margin-right: 8px;
      }
    }
  }

  .filter-section {
    @include row-flex;
    padding: 16px;

    & > * {
      margin: 0 16px;
    }
  }

  .metadata-section {
    padding: 16px;
  }

  .vaccination-centers-info {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-column-gap: 8px;
    grid-row-gap: 8px;

    .vaccination-center-card {
      @include column-flex;
      box-sizing: border-box;
      border: 1px solid gray;
      border-radius: 2px;
      min-height: 120px;
      height: auto;
      align-items: center;
      padding: 8px;
      justify-content: space-evenly;
      letter-spacing: 0.01em;

      .info-row {
        @include row-flex;
        align-items: center;
      }

      .center-name {
        font-weight: bolder;
        letter-spacing: 0.02em;
        text-align: center;
      }

      .vaccine-details {
        border-radius: 8px;
        background-color: gray;
        padding: 2px 6px;
        color: white;
        margin-left: 4px;

        &.COVISHIELD {
          background-color: darkgreen;
        }

        &.COVAXIN {
          background-color: darkslateblue;
        }
      }

      .fee-type-label {
        border-radius: 8px;
        background-color: white;
        padding: 2px 6px;
        color: black;
        margin-left: 4px;
      }

      p {
        margin: 2px;
        text-align: center;
      }
    }
  }
}

.select {
  min-width: 200px;
  height: 36px;
  border-radius: 2px;
  padding: 4px;
}

.input {
  height: 32px;
  padding-left: 4px;
}

.button {
  height: 36px;
  padding-left: 4px;
  min-width: 80px;
  background-color: #1ca7ec;
  color: white;
  border-radius: 2px;
  border: 1px solid #1ca7ec;
  font-weight: 600;

  &:disabled {
    background-color: gray;
    border: 1px solid gray;
  }
}

.disclaimer {
  @include column-flex;
  font-size: 12px;
  align-items: center;
  background-color: white;
  margin: 16px;
  width: 100%;

  .disclaimer-line {
    margin: 2px;
  }
}

.available {
  background-color: $green;
  border: 1px solid $green;
  color: white;
}

.not-available {
  background-color: $red;
  border: 1px solid $red;
  color: white;
}

h4 {
  margin: 16px 0;
}
