@mixin column-flex {
  display: flex;
  flex-direction: column;
}

@mixin row-flex {
  display: flex;
  flex-direction: row;
}

$green: #3FA34D;
$red: #ed5565;

$alice-blue : #e7ecef;
$yale-blue: #274c77;
$cultured: #f2f5f8;

$battleship-grey: #8B8C89;

.app-cowin-monitor {
  @include column-flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  padding: 16px 0;

  .title-section {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-flow: wrap;
    background-color: $alice-blue;
    padding: 8px 16px;
  }

  .header-section {
    @include row-flex;
    flex-flow: wrap;
    width: 100%;
    justify-content: center;
    padding: 8px 16px;
    background-color: $yale-blue;
    color: $alice-blue;

    & > * {
      @include column-flex;
      padding: 0 8px;
    }

    .action-button-section {
      justify-content: flex-end;
    }
  }

  .legend-section {
    @include row-flex;

    .legend {
      @include row-flex;
      align-items: center;
      margin: 16px;

      .legend-item {
        margin: 8px;
        padding: 16px;
        width: 180px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .status-text {
          width: 100%;
          padding-left: 16px;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
        }

        .count {
          width: 100%;
          padding-top: 16px;
          padding-left: 16px;
          font-size: 32px;
          font-weight: bold;
        }
      }
    }
  }

  .filter-section {
    @include row-flex;
    padding: 16px 16px 24px 16px;
    align-items: flex-end;
    flex-flow: wrap;
    width: 100%;
    justify-content: center;
    background-color: $yale-blue;
    color: $alice-blue;

    & > * {
      margin: 0 8px;
    }

    .search-box {
      min-width: 220px;
    }

    .item-title {
      font-size: 14px;
    }
  }

  .metadata-section {
    @include row-flex;
    padding: 16px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .results-section {
    @include column-flex;
    width: 100%;
    padding: 0 32px;
  }

  .date-switchers-section {
    @include row-flex();
    width: 100%;
    margin-bottom: 16px;
    justify-content: space-around;
  }

  .vaccination-centers-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    width: 100%;
    justify-content: center;

    .vaccination-center-card {
      @include column-flex;
      box-sizing: border-box;
      border-radius: 2px;
      min-height: 120px;
      height: auto;
      align-items: center;
      padding: 8px;
      justify-content: space-evenly;
      letter-spacing: 0.01em;

      .book-now-button {
        margin: 4px 0;
      }

      .info-row {
        @include row-flex;
        align-items: center;
      }

      .center-name {
        font-weight: bolder;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: uppercase;
      }

      .vaccine-details {
        border-radius: 8px;
        background-color: gray;
        padding: 2px 6px;
        color: white;
        margin-left: 4px;

        &.COVISHIELD {
          background-color: #9a4165;
        }

        &.COVAXIN {
          background-color: #41659a;
        }
      }

      .fee-type-label {
        border-radius: 8px;
        background-color: white;
        padding: 2px 6px;
        color: black;
        margin-left: 4px;
      }

      p {
        margin: 2px;
        text-align: center;
      }
    }
  }
}

.select {
  min-width: 200px;
  height: 36px;
  border-radius: 2px;
  padding: 4px;
}

.input {
  height: 36px;
  padding-left: 4px;
  box-sizing: border-box;
}

.button {
  height: 36px;
  padding: 0 8px;
  min-width: 80px;
  background-color: #0178bd;
  color: white;
  border-radius: 4px;
  border: 1px solid #0178bd;
  font-weight: 600;
  cursor: pointer;

  &:disabled {
    background-color: $battleship-grey;
    border-color: $battleship-grey;
  }

  &:not(:disabled):hover {
    background-color: $cultured;
    border-color: $battleship-grey;
    color: black;
  }
}

.disclaimer {
  @include column-flex;
  font-size: 12px;
  align-items: center;
  background-color: white;
  margin: 16px;
  width: 100%;

  .disclaimer-line {
    margin: 2px;
  }
}

.available {
  background-color: $green;
  border-color: $green;
  color: white;
}

.not-available {
  background-color: $red;
  border-color: $green;
  color: white;
}

h4 {
  margin: 16px 0;
}
